extends layout

block content
  header 
    h1= title
    p= "speak your mind freely"
  main
    .button-container
      button.compose
        p= "got something to say?"
    each message in messages 
      section.message-card 
        h2= message.title
        p.description= message.description
        footer 
          p.username= message.username
          p.date= message.date

